@use 'variables.scss' as *;
body{
    margin: 0;
    box-sizing: border-box;
    font-family: $font-family-base;
    
}
::selection{
    color: white;
    background-color:$color-background-secondary;
}