// Importar la fuente desde Google Fonts
@import 'fonts';


// Typography
$font-family-base: 'Cera Round Pro', sans-serif; 
// Background Colors
$color-background-primary: #ffffff; // Primary background color (white)
$color-background-secondary: #f16822; // Secondary background color (orange)

// Font Colors
$color-font-primary: #000000; // Primary text color (black)
$color-font-secondary: #828282; // Secondary text color (gray)
$color-font-tertiary: #ffffff; // Tertiary text color (white)

// Border Colors
$color-border-primary: #dddddd; // Primary border color (light gray)
$color-border-secondary:#828282;

